*{
    margin: 0;
}

@font-face {
    font-family: unispace;
    src: url(fonts/unispace.ttf);
}

@font-face {
    font-family: tahoma;
    src: url(fonts/tahoma.ttf);
}

@font-face {
    font-family: tahoma;
    src: url(fonts/tahomabd.ttf);
    font-weight: bold;
}

body {
    margin: 0;
    background: black;
    color: white;
    font-family: system-ui;
}

header h1{
    display: inline-block;
    padding: 25px 50px;
}

header span {
    color: red;
}

header .menu{
    float: right;
	overflow: hidden;
}

header .menu a{
    padding: 35px 15px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    color: white;
    font-size: medium;
    transition: .3s;
}

header .menu a:hover, header .menu a:active{
    color: red;
}

.body_bgimg{
    background-image: url(../resources/images/Home_Background.jpg);
    background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.body_contents{
    background: #f2f2f2;
    color: black;
    padding: 25px 50px;
}

.body_contents article{
    margin: 5% 20%;
}

.body_contents article h1{
    background: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 2%;
}

.body_contents article .artical_contents{
    background: #D9D9D9;
    color: black;
    font-family: sans-serif;
    padding: 4%;
    font-size: 1.1em;
}

.body_contents article .artical_contents .description{
    font-family: tahoma;
    text-align: justify;
}

.body_contents article .artical_contents .code{
    background: black;
    color: #04BF55;
    font-family: unispace;
    font-size: 0.85em;
    padding: 3%;
    margin-top: 3%;
}

.red_mark{
    color: red;
}

.body_contents article .artical_contents .result{
    background: black;
    color: white;
    padding: 3%;
    margin-top: 3%;
}

.body_contents form .math_form{
    color: red;
}

.greeting_section{
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 10% 25%;
}

.greeting_section h1{
    background: rgba(0, 0, 0, 0.8);
    padding: 4% 7%;
}

.greeting_section h1 span{
    display: block;
    text-align: justify;
    font-size: large;
    margin-top: 15px;
}

.page_division{
    width: 100%;
}

.page_division td{
    margin: 0;
    padding: 0;
}

#board_frame{
    background-image: url(../resources/images/Wood_Frame.jpg);
    background-size: cover;
    width: 500px;
    height: 500px;
    vertical-align: top;
}

.cells_container{
    margin: 43px;
}

.cells_container img{
    width: 51.75px;
    float: left;
}

footer {
    font-family: sans-serif;
    padding: 20px 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: red;
}